<div class="nav_header">
    <div>
        <a target="_self" href="/">
            <img class="nav_logo img-responsive"  src="pics/icons/logo1.png" alt="selekt">
        </a>
    </div>

    <div class="dropdown">
        <div   style="padding: 0 40px 0 40px;">
            <a ng-mouseenter="showIt('button')" ng-mouseleave="hideIt()" target="_self" href="{{website}}/find/women" class="btn dropbtn">WOMEN</a>
        </div>
        <div ng-mouseenter="showIt2('dropdown')" ng-show="hovering" class="dropDn dropdown-content">
            <div class="dropDn row">
                <div class="col-xs-3 col-md-3">
                    <table>
                        <thead><h4
                                style="color: #5DCCCD; font-weight:bold; padding-top: 12px; padding-bottom: 8px; padding-left: 14%;">
                            Western Wear</h4>
                        </thead>
                        <tr>
                            <td valign="top">
                                <ul class="cat-head"><span>Topwear</span>
                                    <li style="line-height: 0.6em;">&nbsp;</li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/dresses">Dresses</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/tops">Tops</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/tshirts">T-shirts</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/shirts">Shirts</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/jackets">Jackets</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/blazers">Blazers</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/sweaters">Sweaters</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/sweatshirts">Sweatshirts</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/jumpsuits">Jumpsuits</a></li>
                                </ul>
                            </td>
                            <td valign="top">
                                <ul class="cat-head"><span>Bottomwear</span>
                                    <li style="line-height: 0.6em;">&nbsp;</li>
                                    
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/jeans"> Jeans</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/skirts">Skirts</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/shorts">Shorts</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/trousers">Trousers</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/capris">Capris</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/jeggings">Jeggings</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-3 col-md-3">
                    <table>
                        <thead><h4
                                style="color: #5DCCCD; font-weight:bold; padding-top: 12px; padding-bottom: 8px; padding-left: 14%;">
                            Ethnic Wear</h4>
                        </thead>
                        <tr >
                            <td valign="top" >
                                <ul class="cat-head" ><span>Topwear</span>
                                    <li style="line-height: 0.6em;">&nbsp;</li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/kurta">Kurta</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="#">Tops</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="#">Sarees</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="#">Lehenga Choli</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="#">Jackets</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="#">Waistcoats</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="#">Dress Material</a></li>
                                </ul>
                            </td>
                            <td valign="top">
                                <ul class="cat-head"><span>Bottomwear</span>
                                    <li style="line-height: 0.6em;">&nbsp;</li>
                                    <li class="cat-sub-link"><a target="_self" href="#">Leggings</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="#">Churidars</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="#">Salwars</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="#">Skirts </a></li>
                                    <li class="cat-sub-link"><a target="_self" href="#">Palazzos</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-3 col-md-3">
                    <table>
                        <tr>
                            <td valign="top">
                                <h4 style="color: #5DCCCD; font-weight:bold; padding-top: 12px;padding-left: 14%; ">
                                    Footwear</h4>
                                <ul class="cat-head" style="padding-left: 15%;">
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/flats">Flats</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/heels">Heels</a></li>
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/casual-shoes">Casual Shoes</a></li>
                                </ul>
                                <h4 style="color: #5DCCCD; font-weight:bold; padding-top: 12px;
                                     padding-left: 15%;">
                                    Fashion Accessories</h4>
                                <ul class="cat-head" style="padding-left: 15%;">
                                    <li class="cat-sub-link"><a target="_self" href="{{website}}/find/handbags">Handbags</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="dropdown2">
        <div  style="padding: 0px 40px 0px 40px;">
            <button  ng-mouseenter="showIt('button')" ng-mouseleave="hideIt()" class="dropbtn2">MEN</button>
        </div>

        <div ng-mouseenter="showIt2('dropdown')" ng-show="hovering" class="dropDn dropdown-content2">
            <div class="dropDn row">
            <img src="../pics/menslaunch.png" style="height: 100%; width: 100%;">
            </div>
        </div>
    </div>

    <div class="dropdown3">
        <div style="padding: 0px 40px 0px 40px;">
            <button  ng-mouseenter="showIt('button')" ng-mouseleave="hideIt()" class="dropbtn3">MOBILES</button>
        </div>

        <div ng-mouseenter="showIt2('dropdown')" ng-show="hovering" class="dropDn dropdown-content3">
        <div class="dropDn row">
        <img src="../pics/mobilelaunch.png" style="height: 100%; width: 100%;">
        </div>
        </div>
    </div>

    

<!--
    <div class="user-profile">
        <div class="user-profile-image" style="background-image: url('/pics/man-user.png');"></div>
        <div class="user-profile-dropdown" style="margin-left:26px; margin-top: -24px;">
            <p style="font-family: FontAwesome;font-size:12px;color: #FFFFFF;">
                &#xf0d7;</p>
        </div>
    </div>
-->
</div>