<div   style="font-size: 17px;width:100%; padding-left: 25px;margin-top:50px;float:left;background: white;min-height:700px">	
    <br>
<div ng-show=" filters[0].values">
<h2  style="font-weight: 800;text-align:center">SHOP BY BRANDS </h2>
     
  <br>
<table style="width:70%">
    <tr>
        <td>Search By Letter : </td>
        <td ng-repeat="(key,value) in shop_by_brands" style="cursor:pointer" ng-click="setBrandLetter(key)"> {{key}}</td>
    </tr>
</table>
   <br> <hr> <br>
<table style="width:100%" class="brands_table">
  
  <tr style="width:100%;margin:10px" ng-repeat="num in range(shop_by_brands[brandLetter].length, 3)">
      <td ng-if="shop_by_brands[brandLetter][num]" style="width:33%" > <a href="/find/{{shop_by_brands[brandLetter][num] | replacespace}}-{{productline_name}}" target="_self">{{shop_by_brands[brandLetter][num]}} {{productline_name}}</a></td>
      <td ng-if="shop_by_brands[brandLetter][num+1]" style="width:33%"  > <a href="/find/{{shop_by_brands[brandLetter][num+1] | replacespace}}-{{productline_name}}" target="_self">{{shop_by_brands[brandLetter][num+1]}} {{productline_name}} </a> </td>
      <td ng-if="shop_by_brands[brandLetter][num+2]" style="width:33%"  > <a href="/find/{{shop_by_brands[brandLetter][num+2] | replacespace}}-{{productline_name}}" target="_self">{{shop_by_brands[brandLetter][num+2]}} {{productline_name}} </a> </td>
  </tr>
  
</table>
    </div>
</div>