<div category_page_dresses>
 <div  style="padding-left: 2%; padding-right: 2%;">
            <h2 style="font-weight: 500;">Western Wear</h2>
            <div class="row">
                <div class="col-xs-6 col-md-6" style="padding: 2%;">
                    <div class="display_image_text" style="height: 320px; width: 100%; background-image: url('../pics/bottomwear.png');">
                        <span style="color: white; padding: 5px 35px 5px 35px; font-family: 'Nunito', sans-serif; font-size: 42px; font-weight: 400;">
                            Topwear</span>
                    </div>

                    <div class="row">
                        <div class="col-xs-6" style="padding-top: 4%;">
                            <ul class="cat_list">
                                <a   target="_self" href="{{website}}/find/women-dresses"><li style="border-top: 1px solid #b7b7b7;text-decoration: none">Dresses<span> > </span></li></a>
                                <a  target="_self" href="{{website}}/find/women-kurtas"><li>Kurtas<span> > </span></li></a>
                                <a  target="_self" href="{{website}}/find/women-tops"><li>Tops<span> > </span></li></a>
                                <a  target="_self" href="{{website}}/find/women-t-shirts"><li>T-shirts<span> > </span></li></a>
                                <a  target="_self" href="{{website}}/find/women-shirts"><li>Shirts<span> > </span></li></a>
                            </ul>
                        </div>
                        <div class="col-xs-6" style="padding-top: 4%;">
                            <ul class="cat_list">
                                <a  target="_self" href="{{website}}/find/women-jackets"><li style="border-top: 1px solid #b7b7b7;">Jackets<span> > </span></li></a>
                                <a  target="_self" href="{{website}}/find/women-blazers"><li>Blazers<span> > </span></li></a>
                                <a  target="_self" href="{{website}}/find/women-sweaters"><li>Sweaters<span> > </span></li></a>
                                <a  target="_self" href="{{website}}/find/women-sweatshirts"><li>Sweatshirts<span> > </span></li></a>
                                <a  target="_self" href="{{website}}/find/women-jumpsuits"><li>Jumpsuits<span> > </span></li></a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6" style="padding: 2%;">
                    <div class="display_image_text" style="height: 320px; width: 100%; background-image: url('../pics/topwear.png');">
                        <span style="color: white; padding: 5px 35px 5px 35px; font-family: 'Nunito', sans-serif; font-size: 42px; font-weight: 400;">
                            Bottomwear</span>
                    </div>
                    <div class="row">
                        <div class="col-xs-6" style="padding-top: 4%;">
                            <ul class="cat_list">
                                <a  target="_self" href="{{website}}/find/women-jeans"><li style="border-top: 1px solid #b7b7b7;">Jeans<span> > </span></li></a>
                                <a  target="_self" href="{{website}}/find/women-skirts"><li>Skirts<span> > </span></li></a>
                                <a  target="_self" href="{{website}}/find/women-shorts"><li>Shorts<span> > </span></li></a>
                                <a  target="_self" href="{{website}}/find/women-trousers"><li>Trousers<span> > </span></li></a>
                                <a  target="_self" href="{{website}}/find/women-capris"><li>Capris<span> > </span></li></a>
                            </ul>
                        </div>
                        <div class="col-xs-6" style="padding-top: 4%;">
                            <ul class="cat_list">
                                <a  target="_self" href="{{website}}/find/women-jeggings"><li style="border-top: 1px solid #b7b7b7;">Jeggings<span> > </span></li></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>