<div class="category_page_dresses" class="container" style="background-image: none;background-color: #fff;background:#fff;border:none;">
    <div ng-if="productline_name && (!showload)">
        <br>
        <h1 style="text-transform: uppercase;padding: 0px;margin: 0px; margin-bottom: 55px">
            {{productline_name | removeunderscore}} STORE
        </h1>
        <br>
        <div ng-show="productline_name && (!showload) && web_structure_show_factors">
            <div style="width:100%;padding: 0px 30px" ng-show="1">
                <div class="row">
                    <h3  style="padding: 0px;margin: 0px;padding-left: 12px;float:left"  class="category_heading">SHOP BY PRODUCT FACTORS</h3>
                </div>
                <div class="row" style="margin-top: 30px; margin-bottom: 50px">
                    <div ng-repeat="(key,values) in web_structure_list_level_1">
                        <div class="clearfix" ng-if="$index % 3 == 0"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img ng-src="static/pics/web_structure/{{key}}.png" style='width: 100%; height: auto; object-fit: contain'>
                            <ul class="product_factor_ul list-group">
                                <a target="_self" href="/find/{{item | replacespace}}-{{productline_name| underscoreless | custtrim}}" ng-click="web_structure_show_factors = 0" class="list-group-item" ng-repeat="item in values">
                                    {{item | capitalize}}
                                </a>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix" ng-if="web_structure_keys.length % 3 == 0"></div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <img src="static/pics/web_structure/brand.png" style='width: 100%; height: auto; object-fit: contain'>
                        <ul class="product_factor_ul list-group">
                            <a ng-if="$index < 3" target="_self" href="/find/{{item | underscoreless}}-{{productline_name| custtrim}}" ng-click="web_structure_show_factors = 0" class="list-group-item" ng-repeat="item in filters[0].values">
                                {{item | capitalize}}
                            </a>
                            <a class="list-group-item"  target="_self" href="/find/shop-{{productline_name | custtrim}}-by-brands "style="cursor:pointer" >Show All Brands</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="!(selected_shopby == 'web') && (user_selected_categories.occasion=='')" class="row" style="border:none;padding: 0px;margin: 0px;margin-bottom: 50px">
            <div class="category_sbo row"
                 style="padding: 0px 30px;margin: 0px;">
                <h3 style="padding: 0px;margin: 0px;margin-bottom: 10px" id="occasion_heading" class="category_heading">
                    SHOP {{productline_name}}
                    <span ng-if="(user_selected_categories.age!='') ||  (user_selected_categories.body_shape!='') || (user_selected_categories.skin_color!='') || (user_selected_categories.height!='')">
                    FOR
                    <span ng-if="user_selected_categories.age!='' "> {{user_selected_categories.age}} </span>
                    <span ng-if="user_selected_categories.body_shape!='' "> {{user_selected_categories.body_shape | removehiphen}} </span>
                    <span ng-if="user_selected_categories.height!='' "> {{user_selected_categories.height | removehiphen}} </span>
                    <span ng-if="user_selected_categories.skin_color!='' "> {{user_selected_categories.skin_color | removehiphen}} </span> WOMEN
                </span>
                    BY OCCASION</h3>
            </div>
            <div  style="padding:0px 30px; border:none;">
                <div ng-repeat="x in occasions" ng-if="$index%3==0" class="row" style="margin-left:0px; margin-right:0px">
                    <div style="cursor: pointer;padding: 2%;padding-left: 0" class="col-lg-4 col-md-6 col-xs-12 col-sm-12">
                        <a target="_self"
                           href="/find/{{occasions[$index] | underscoreless}}-{{productline_name | custtrim}}-for{{user_selected_categories.age}}{{user_selected_categories.height}}{{user_selected_categories.body_shape}}{{user_selected_categories.skin_color}}-women">
                            <img ng-src="static/pics/dress_store/occasion/{{occasions[$index]}}.png" alt="{{occasions[$index]}}" class="img-responsive" >
                        </a>
                    </div>
                    <div ng-if="occasions.length > $index+1" style="cursor: pointer;padding: 2%;padding-left: 0" class="col-lg-4 col-md-6 col-xs-12 col-sm-12">
                        <a target="_self"
                           href="/find/{{occasions[$index+1] | underscoreless}}-{{productline_name | custtrim}}-for{{user_selected_categories.age}}{{user_selected_categories.height}}{{user_selected_categories.body_shape}}{{user_selected_categories.skin_color}}-women">
                            <img ng-src="static/pics/dress_store/occasion/{{occasions[$index+1]}}.png" alt="{{occasions[$index+1]}}" class="img-responsive" >
                        </a>
                    </div>
                    <div ng-if="occasions.length > $index+2" style="cursor: pointer;padding: 2%;padding-left: 0" class="col-lg-4 col-md-6 col-xs-12 col-sm-12">
                        <a target="_self"
                           href="/find/{{occasions[$index+2] | underscoreless}}-{{productline_name | custtrim}}-for{{user_selected_categories.age}}{{user_selected_categories.height}}{{user_selected_categories.body_shape}}{{user_selected_categories.skin_color}}-women">
                            <img ng-src="static/pics/dress_store/occasion/{{occasions[$index+2]}}.png" alt="{{occasions[$index+2]}}" class="img-responsive" >
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div style="width:100%;padding: 0px 30px">
                <div class="row">
                    <h3  style="padding: 0px;margin: 0px;padding-left: 12px;float:left"  class="category_heading">SHOP BY PROFILE</h3>
                </div>
                <div class="row" style="margin-top: 30px; margin-bottom: 50px">
                    <div>
                        <div class="col-md-3" ng-if="user_selected_categories.height==''">
                            <img src="static/pics/web_structure/height.png" style='width: 100%; height: auto; object-fit: contain'>
                            <ul class="product_factor_ul list-group">
                                <a target="_self" href="/find/{{user_selected_categories.occasion | replacespace }}{{productline_name | custtrim}}-for{{user_selected_categories.age}}{{user_selected_categories.body_shape}}{{user_selected_categories.skin_color}}-short-women" class="list-group-item">
                                    Short
                                </a>
                                <a target="_self" href="/find/{{user_selected_categories.occasion | replacespace }}{{productline_name | custtrim}}-for{{user_selected_categories.age}}{{user_selected_categories.body_shape}}{{user_selected_categories.skin_color}}-tall-women" class="list-group-item">
                                    Tall
                                </a>
                            </ul>
                        </div>
                        <div class="col-md-3" ng-if="user_selected_categories.body_shape==''">
                            <img src="static/pics/web_structure/shape.png" style='width: 100%; height: auto; object-fit: contain'>
                            <ul class="product_factor_ul list-group">
                                <a ng-repeat="x in ['rectangle','apple','pear','hourglass']" target="_self" href="/find/{{user_selected_categories.occasion | replacespace }}{{productline_name | custtrim}}-for{{user_selected_categories.height}}{{user_selected_categories.age}}{{user_selected_categories.skin_color}}-{{x}}-women" class="list-group-item">
                                    {{x | capitalize}}
                                </a>
                            </ul>
                        </div>
                        <div class="col-md-3" ng-if="user_selected_categories.age==''">
                            <img src="static/pics/web_structure/age.png" style='width: 100%; height: auto; object-fit: contain'>
                            <ul class="product_factor_ul list-group">
                                <a target="_self" href="/find/{{user_selected_categories.occasion | replacespace  }}{{productline_name | custtrim}}-for{{user_selected_categories.height}}{{user_selected_categories.body_shape}}{{user_selected_categories.skin_color}}-18-27-women" class="list-group-item">
                                    Teenage
                                </a>
                                <a target="_self" href="/find/{{user_selected_categories.occasion | replacespace  }}{{productline_name | custtrim}}-for{{user_selected_categories.height}}{{user_selected_categories.body_shape}}{{user_selected_categories.skin_color}}-28-38-women" class="list-group-item">
                                    Adult
                                </a>
                            </ul>
                        </div>
                        <div class="col-md-3" ng-if="user_selected_categories.skin_color==''">
                            <img src="static/pics/web_structure/skin.png" style='width: 100%; height: auto; object-fit: contain'>
                            <ul class="product_factor_ul list-group">
                                <a ng-repeat="x in ['fair','wheatish','dark']" target="_self" href="/find/{{user_selected_categories.occasion | replacespace  }}{{productline_name | custtrim}}-for{{user_selected_categories.age}}{{user_selected_categories.body_shape}}{{user_selected_categories.height}}-{{x}}-women" class="list-group-item">
                                    {{x | capitalize}}
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div ng-if="!productline_name" style="background-image: none;background-color: #fff;background:#fff;border:none;">
    <div class="container" style="padding-left: 3%; padding-right: 3%;width: 100%; margin-top: 60px">

        <h1 style=" padding: 0px;margin: 0px; margin-bottom: 30px">SHOP BY CATEGORIES </h1>
        <h2 style="">Western Wear</h2>
        <div class="row">
            <div class="col-lg-6 col-xs-12 col-md-6" style="padding: 2%;">
                <div class="display_image_text img-responsive"
                     style="height: 320px; width: 100%; background-image: url('../static/pics/bottomwear.png'); background-size: 100%">
                        <span style="color: white; padding: 5px 35px 5px 35px; font-family: 'Lato', sans-serif; font-size: 42px; font-weight: 400;">
                            Topwear</span>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-6" style="padding-top: 2%;">
                        <ul class="cat_list">
                            <a target="_self" href="{{website}}/find/dresses">
                                <li style="text-decoration: none">Dresses<span>  </span>
                                </li>
                            </a>
                            <a target="_self" href="{{website}}/find/kurta">
                                <li>Kurta<span>  </span></li>
                            </a>
                            <a target="_self" href="{{website}}/find/tops">
                                <li>Tops<span>  </span></li>
                            </a>
                            <a target="_self" href="{{website}}/find/tshirts">
                                <li>T-shirts<span>  </span></li>
                            </a>
                            <a target="_self" href="{{website}}/find/shirts">
                                <li>Shirts<span>  </span></li>
                            </a>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-10" style="padding-top: 2%;">
                        <ul class="cat_list">
                            <a target="_self" href="{{website}}/find/jackets">
                                <li style="">Jackets<span>  </span></li>
                            </a>
                            <a target="_self" href="{{website}}/find/blazers">
                                <li>Blazers<span>  </span></li>
                            </a>
                            <a target="_self" href="{{website}}/find/sweaters">
                                <li>Sweaters<span>  </span></li>
                            </a>
                            <a target="_self" href="{{website}}/find/sweatshirts">
                                <li>Sweatshirts<span>  </span></li>
                            </a>
                            <a target="_self" href="{{website}}/find/jumpsuits">
                                <li>Jumpsuits<span>  </span></li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6" style="padding: 2%;">
                <div class="display_image_text"
                     style="height: 320px; width: 100%; background-image: url('../static/pics/topwear.png');background-size: 100%">
                        <span style="color: white; padding: 5px 35px 5px 35px; font-family: 'Lato', sans-serif; font-size: 42px; font-weight: 400;">
                            Bottomwear</span>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-10" style="padding-top: 2%;">
                        <ul class="cat_list">
                            <a target="_self" href="{{website}}/find/jeans">
                                <li style="">Jeans<span>  </span></li>
                            </a>
                            <a target="_self" href="{{website}}/find/skirts">
                                <li>Skirts<span>  </span></li>
                            </a>
                            <a target="_self" href="{{website}}/find/shorts">
                                <li>Shorts<span>  </span></li>
                            </a>
                            <a target="_self" href="{{website}}/find/-trousers">
                                <li>Trousers<span>  </span></li>
                            </a>
                            <a target="_self" href="{{website}}/find/capris">
                                <li>Capris<span>  </span></li>
                            </a>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-10" style="padding-top: 2%;">
                        <ul class="cat_list">
                            <a target="_self" href="{{website}}/find/jeggings">
                                <li style=";">Jeggings<span>  </span></li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footwear" style="padding: 2%;">
            <h2 style="font-weight: 500;">Footwear</h2>
            <div class="row" style=" padding-top: 2%;">
                <div class="col-lg-3 col-xs-6 col-md-3" style="text-align: center;">
                    <a target="_self" href="#">
                        <img src="../static/pics/footwear/Sports.png"
                             style="height: 100%; width: 100%;border: 1px solid #b7b7b7;">
                        Sports
                    </a>
                </div>
                <div class="col-lg-3 col-xs-6 col-md-3" style="text-align: center;">
                    <a target="_self" href="{{webiste}}/find/heels" target="_self">
                        <img src="../static/pics/footwear/heels.png"
                             style="height: 100%; width: 100%;border: 1px solid #b7b7b7;">
                        Heels
                    </a>
                </div>
                <div class="col-lg-3 col-xs-6 col-md-3" style="text-align: center;">
                    <a target="_self" href="{{webiste}}/find/casual-shoes" target="_self">
                        <img src="../static/pics/footwear/Casuals.png"
                             style="height: 100%; width: 100%;border: 1px solid #b7b7b7;">
                        Casual Shoes
                    </a>
                </div>
                <div class="col-lg-3 col-xs-6 col-md-3" style="text-align: center;">
                    <a target="_self" href="{{webiste}}/find/flats" target="_self">
                        <img src="../static/pics/footwear/flats.png"
                             style="height: 100%; width: 100%;border: 1px solid #b7b7b7;">
                        Flats
                    </a>
                </div>
            </div>
        </div>
        <div class="accessories" id="accessories" style="padding-left: 3%; padding-top: 3%; padding-bottom: 3%;">
            <h2 style="font-weight: 500;">Accessories</h2>
            <div class="row" style=" padding-top: 2%;">
                <div class="col-lg-4 col-xs-4 col-md-4" style="text-align: center;">
                    <a target="_self" href="{{webiste}}/find/handbags" target="_self">
                        <img src="../static/pics/accessories/handbags.png"
                             style="height: 100%; width: 100%;border: 1px solid #b7b7b7;">
                        Handbags
                    </a>
                </div>
                <div class="col-lg-4 col-xs-4 col-md-4" style="text-align: center;">
                    <a target="_self" href="#">
                        <img src="../static/pics/accessories/watches.png"
                             style="height: 100%; width: 100%;border: 1px solid #b7b7b7;">
                        Watches
                    </a>
                </div>
                <div class="col-lg-4 col-xs-4 col-md-4" style="text-align: center;">
                    <a target="_self" href="#">
                        <img src="../static/pics/accessories/glasses.png"
                             style="height: 100%; width: 100%;border: 1px solid #b7b7b7;">
                        Glasses
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
    <div scroll2 style="margin-bottom: 0px"></div>
</div>